<div class="container-fluid">
  <div class="row">
      <h1>Hard & Soft Skills</h1>            
      <div class="col-12 text-center">
          <button type="button" class="btn btn-secondary" routerLink="/nuevaskills" *ngIf="isLogged"><i class="bi bi-plus-lg"></i>
          </button>
      </div>
  </div>

  <div class="row" >  
      <div class="col-lg-10 offset-lg-1"  *ngFor="let Skills of skills">
          <div class="container">            
                  <div class="row d-flex align-items-end">
                      <div class="col-12 col-md-10 name-hys">
                          <h5 class="fw-bold">{{Skills.nombreS}}</h5>
                          <div class="progress">                                
                              <div class="progress-bar" role="progressbar" style="height: 1px;">
                                  <h5>{{Skills.porcentajeS}}%</h5>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-2 buttons-col text-end mt-2 mt-md-auto" *ngIf="isLogged">
                          <button class="btn btn-light edit-button m-1" routerLink="/edithys/{{Skills.id}}">
                              Editar</button>
                          <button class="btn btn-danger delete-button m-1" (click)="delete(Skills.id)">
                              <i class="bi bi-trash-fill"></i>
                          </button>
                      </div> 
                  </div>
          </div>
      </div>
  </div>

<!--
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Escucha activa'"
    [titleFontSize]="'1em'"
    [percent]="95"
    [radius]="90"
    [subtitle]="'95%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Empatía'"
    [titleFontSize]="'1em'"
    [percent]="95"
    [radius]="90"
    [subtitle]="'95%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Trabajo en equipo'"
    [titleFontSize]="'1em'"
    [percent]="95"
    [radius]="90"
    [subtitle]="'95%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Programación'"
    [titleFontSize]="'1em'"
    [percent]="25"
    [radius]="90"
    [subtitle]="'25%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Inglés'"
    [titleFontSize]="'1em'"
    [percent]="45"
    [radius]="90"
    [subtitle]="'45%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg4">
  <circle-progress
    [title]="'Atención al cliente'"
    [titleFontSize]="'1em'"
    [percent]="95"
    [radius]="90"
    [subtitle]="'95%'"
    [showUnits]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'rgb(186, 90, 186)'"
    [innerStrokeColor]="'rgb(221, 160, 221)'"
    [animation]="true"
    [animationDuration]="900"
> </circle-progress>-->