<div class="row">
  <h1>Hard and soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Escucha activa'"
      [titleFontSize]="'1em'"
      [percent]="95"
      [radius]="90"
      [subtitle]="'95%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Empatía'"
      [titleFontSize]="'1em'"
      [percent]="95"
      [radius]="90"
      [subtitle]="'95%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Trabajo en equipo'"
      [titleFontSize]="'1em'"
      [percent]="95"
      [radius]="90"
      [subtitle]="'95%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Programación'"
      [titleFontSize]="'1em'"
      [percent]="35"
      [radius]="90"
      [subtitle]="'35%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Derecho'"
      [titleFontSize]="'1em'"
      [percent]="75"
      [radius]="90"
      [subtitle]="'75%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg4">
    <circle-progress
      [title]="'Atención al cliente'"
      [titleFontSize]="'1em'"
      [percent]="95"
      [radius]="90"
      [subtitle]="'95%'"
      [showUnits]="false"
      [outerStrokeWidth]="18"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(186, 85, 211)'"
      [innerStrokeColor]="'rgb(221, 160, 221)'"
      [animation]="true"
      [animationDuration]="900"
  > </circle-progress>
  </div>
</div>
