<div class="row">  
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img class="img-thumbnail" src="../../../assets/foto.jpg" alt="victoria" class="img-fluid" id="fotoPerfil">
  </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <h1>{{persona.nombre}} {{persona.apellido}}</h1>
    <p>Programadora web full-stack junior</p>
    <p>Estudiante de abogacía</p>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <span>
      <h1>Acerca de mí</h1>
      <p>Hola! Soy Victoria y aca me defino</p>
    </span>
  </div>
</div>

