.row {
  background-color: rgb(233, 212, 233); 
}

.card {
  padding: 25px;
}
  
div {
  background-color: rgb(233, 212, 233);
}

h1 {
  text-align: center;
  padding: 5px;
  background-color: rgb(233, 200, 233);
}
