<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva Experiencia
    </button>
  </div>
    
  <div class="col-sm-1 col-md-1 col-lg-1"></div>

  <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td> {{Experiencia.nombreE}}</td>
          <td> {{Experiencia.descripcionE}}</td>
          <td>editar</td>
          <td>borrar</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

